<div class="head">
  <div class="container">
    <div class="row">
      <div class="head-box">
        <img src="../../assets/images/logo.png" alt="">
        <ul class="menu">
          <li>
            <a href="javascript:;" routerLink="/home" routerLinkActive="active">
              <span class="before">首&nbsp;&nbsp;&nbsp;&nbsp;页</span>
              <span class="after">首&nbsp;&nbsp;&nbsp;&nbsp;页</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" routerLink="/comic/anime" routerLinkActive="active">
              <span class="before">ACG情报</span>
              <span class="after">ACG情报</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" routerLink="/around" routerLinkActive="active">
              <span class="before">动漫周边</span>
              <span class="after">动漫周边</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" routerLink="/cv" routerLinkActive="active">
              <span class="before">声优情报</span>
              <span class="after">声优情报</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" routerLink="/music" routerLinkActive="active">
              <span class="before">音乐资讯</span>
              <span class="after">音乐资讯</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" routerLink="/game" routerLinkActive="active">
              <span class="before">游戏资讯</span>
              <span class="after">游戏资讯</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" routerLink="/pic" routerLinkActive="active">
              <span class="before">美图欣赏</span>
              <span class="after">美图欣赏</span>
            </a>
          </li>
          <li>
            <a href="javascript:;" routerLink="/show" routerLinkActive="active">
              <span class="before">漫展情报</span>
              <span class="after">漫展情报</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
